*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body>div{
    
    background-color: red;
    margin: 48px;
    height: 400px;
    width: 500px;
}
.e1,.e2,.e3,.e4{

    background-color: indigo;
    width: 200px;
    height: 200px;
    color: white;
    font-size: 35px;
}


/* .e1{
    position: relative;
    left: 70px;
    top: 40px;
}
.e2{
    position: relative;
    left: 200px;
    bottom: 30px;
}
.e3{
    position: absolute;
    bottom: 900px;
    right: 900px;
    
} */
.e2{
    position: absolute;
    z-index: -1;
    bottom: 840px;
}
.e4{
    position: absolute;
    z-index: 1;
    bottom: 390px;
    
}